[submodule "ggxxnet-lobby"]
	path = ggxxnet-lobby
	url = https://github.com/AlbertKozera/ggxxnet-lobby
[submodule "ggxxnet"]
	path = ggxxnet
	url = https://github.com/ArekoG/ggxxnet
[submodule "ggxxreload"]
	path = ggxxreload
	url = https://github.com/AlbertKozera/ggxxreload
